/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  margin: 0;
 }

img {
  max-width: 100%;
}

.image-wrapper{
  max-width: 300px;
  max-height: 300px;

}

.feed-wrapper{
  border: 20px #000000 solid; 
  border-top: 80px #000000 solid;
  border-bottom: 80px #000000 solid;
}

.home-wrapper{
  margin: 0;
  background: #000000;
}